body{
    margin: 0;
}


#newbox{
    width: 20%;
    height: 30vh;

   background-size: contain;
   background-repeat: no-repeat;
   align-content: center;

   justify-content: center;
    position: relative;
    display: flex;

}